<div class="product-cart" >
    <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Item Name</th>
            <th scope="col">Amount </th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <!-- <td> <img class="card-img-top" src="{{item.image}}" alt="Card image cap"> </td> -->
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.price  | currency:'AUS' }}</td>
          </tr>             
        </tbody>
      </table>

    <div class="cart-total">
        <p><button type="button" class="btn btn-outline-primary btn-sm" (click)="emptyCart()">Empty Cart</button></p>
        <p class="text-right">
            <strong class="d-block">Total:</strong>
            <span class="d-block">{{ totalPrice  | currency:'AUS'}}</span>
        </p>
        
    </div>
    <div>
      <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['checkout']">Checkout</button>
    </div>
</div>