<div class="ibox-content">
    <div id="modal-form" class="modal fade" aria-hidden="true" *ngIf="isSignupOpen">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b">Sign in</h3>
                            <form role="form">
                                <div class="form-group"><label>Email</label> <input type="email"
                                        placeholder="Enter email" class="form-control"></div>
                                <div class="form-group"><label>Password</label> <input type="password"
                                        placeholder="Password" class="form-control"></div>
                                <div>
                                    <button class="btn btn-sm btn-primary float-right m-t-n-xs"
                                        type="submit"><strong>Log in</strong></button>
                                    <label> <input type="checkbox" class="i-checks"> Remember me </label>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h4>Not a member?</h4>
                            <p>You can create an account:</p>
                            <p class="text-center">
                                <a href=""><i class="fa fa-sign-in big-icon"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>