<!-- <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of products; let i = index;">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                        <span class="product-price">
                            {{ product.price | currency }}
                        </span>
                        <small class="text-muted">{{ product.category.categoryName }}</small>
                        <a class="product-name"> {{ product.name }}</a>

                        <div class="small m-t-xs">
                            {{ product.description }}
                        </div>
                        <div style="clear:both">
                            <div style="float: left;">
                                <input type="number" value="1" min="1" max="100" step="1" #amount>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-lg btn-primary "
                                    (click)="addToCart($event, product, amount.value)">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->

<div id="wrapper">
    <div class="wrapper wrapper-content animated fadeInRight">
        <app-topnav></app-topnav>
        <div id="page-content">
            <app-topbanner></app-topbanner>
            <app-middletopbanner></app-middletopbanner>
            <app-topcategory></app-topcategory>
            <app-flashsale></app-flashsale>
            <app-featured></app-featured>
            <app-middlebanner></app-middlebanner>
            <!--<app-latest-products></app-latest-products>-->
            <app-bottombanner></app-bottombanner>

        </div>

    </div>

</div>