<!-- <div id="wrapper" style="background-color: #125430;">

<app-navigation
    [isNavigationOpen]="isNavigationOpen">
</app-navigation>

<div id="page-wrapper" class="gray-bg">

    <app-topnavigation
    [isNavigationOpen]="isNavigationOpen"
    (toggleNavigationEvent)="onNavigationToggle($event)">
    </app-topnavigation>

    <router-outlet></router-outlet>

    <footer></footer>

</div>
</div> -->
<!-- Oringinal layout -->

<div>
  <app-nav></app-nav>
</div>
<div>
  <app-adbanner></app-adbanner>
</div>
